<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="SubscriptionsTableName" value="Rebus_Subscriptions"/>
        <add key="QueueName" value="sagademo_server"/>
    </appSettings>
    <connectionStrings>
        <add name="RebusDatabase" connectionString="Server=localhost;Database=master;User Id=sa;Password=!qaz2wsX;"/>
    </connectionStrings>
</configuration>